APP_NAME=
TELEMETRY_ENDPOINT=
ENVIRONMENT=
LOG_DESTINATION=

#Flexstore Service Configuration
FLEXSTORE_SERVICE_BASE_URL=

# Mongo DB Configurationmongodb+srv://admuser:aoNdIvh5ldcvR2b8@mongodb.dev.autonomize.dev/genesis-service-knowledge-hub-dev-v2?retryWrites=true&w=majority&tlsAllowInvalidCertificates=true&authMechanism=SCRAM-SHA-256&authSource=admin
MONGO_URL=
DB_NAME=

# Bronze Layer Configuration
STORAGE_TYPE=
STORAGE_ACCOUNT=
STORAGE_CONTAINER=

# Pipeline Configuration (LangFlow)
PIPELINE_API_KEY=
PIPELINE_BASE_URL=
PIPELINE_RUN_TIMEOUT_SECONDS=300